body{
    font-family: 'Montserrat';
    background-color: #CFCFCF;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0;
}

@font-face {
    font-family: NicoMoji;
    src: url(../../font/NicoMoji-Regular.ttf);
   }
   h2 {
    font-family: NicoMoji;
   }

.container {
    padding-left: 50px;
    padding-right: 50px;
}

/* header */

.header {
    background-color: #393939;
    padding-left: 50px;
    padding-right: 50px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    color: #f1f1f1;
}

.menu_main {
    padding-right: 10px;
    color: #f1f1f1;
    text-decoration: none;
}

.menu_main:hover {
    text-decoration: underline;
}

.menu_api {
    padding-right: 10px;
    color: #f1f1f1;
    text-decoration: none;
}

.menu_api:hover {
    text-decoration: underline;
}

.menu_settings {
    color: #f1f1f1;
    text-decoration: none;
}

.menu_settings:hover {
    text-decoration: underline;
}

.menu_docs {
    padding-right: 10px;
    color: #f1f1f1;
    text-decoration: none;
}

.menu_docs:hover {
    text-decoration: underline;
}

/* sidebar */

.sidenav {
    height: 50%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #393939;;
    overflow-x: hidden;
}

.sidenavTwo {
	height: 50%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 0;
    background-color: #393939;;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenavTwo a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenavTwo a:hover {
    color: #f1f1f1;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.panel_graph {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* tabs navigation */
  .tabs {
    display: flex;
    align-items: center;
    background: #CFCFCF;
    border-radius: 25px 25px 0px 0px;
    height: 40px;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
    padding-left: 5px;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    cursor: pointer;
    /* top: 7; */
    transition: all 0.25s;
  }
  .tab-content {
    height: 12rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    opacity: 0;
    transition: all 0.35s;
  }
  .border_file {
    margin: 10px 5px 10px 0px;
    padding: 20px 0px 20px;
    border-radius: 25px;
    border: 1px solid #FFF;
  }
  .border_url {
    margin: 10px 5px 10px 0px;
    padding: 20px 0px 20px;
    border-radius: 25px;
    border: 1px solid #FFF;
  }
  .tab-switch:checked + .tab-label {
    color: #000;
    border-bottom: 0;
    text-decoration: underline #000;
    transition: all 0.35s;
    z-index: 1;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }

  .header_sidenav_harac {
    display: flex;
    background: #CFCFCF;
    border-radius: 25px 25px 0px 0px;
    height: 50px;
  }

  .text_header_sidenav_harac {
    display: flex;
    align-items: center;
  }

.btn_add {
    padding: 4px 6px 5px 5px;
    border-radius: 30px;
    border: 1px solid white;
    background: white; /* Синий цвет фона */
    color: black; /* Белые буквы */
}

.btn_nav {
    border-radius: 25px;
    background: #CFCFCF;
    margin-bottom: 10px;
}

.btn_nav_all {
    display: flex;
    justify-content: center;
}

.info_graph {
    margin-top: 20px;
    border-radius: 25px;
    background: #FFF;
}

.input_name_graph {
    width: 200px;
    border-radius: 20px;
    padding: 2px 5px 2px 5px;
}

/* modal */
#myBtn {
  cursor: pointer;
}

#btn_add_edge {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  position: relative;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.70);
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #69696980;
  color: #FFF;
}

.modal-body {padding: 2px 16px;}


/* modal Edge */
.modal_edge {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content-edge {
  position: relative;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.70);
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close-edge {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-edge:hover,
.close-edge:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header-edge {
  text-align: center;
  padding: 2px 16px;
  background-color: #69696980;
  color: #FFF;
}

.modal-body-edge {padding: 2px 16px;}

.input {
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  border-bottom: 2px solid #FFF;
}

.input_black {
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  border-bottom: 2px solid #000000;
  width: 315px;
}

.label_modal {
  display: block;
  margin-top: 10px;
}
