<html>
    <head>
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/styles/main.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block content %}
            <div class="header">
                <div class="container_header">
                    <div>
                        <!-- <img src="../assets/GRAPHVIZ.png" alt="GRAPHVIZ" /> -->
                        <h2>GRAPHVIZ</h2>
                    </div>
                    <div class="menu">
                        <a class="menu_main" href="/">
                            Главная
                        </a>
                        <a class="menu_api" href="/api">
                            API
                        </a>
                        <a class="menu_docs" href="/">
                            Документация
                        </a>
                        <a class="menu_settings" href="/settings">
                            Настройки
                        </a>
                    </div>
                </div>

            </div>
            {% endblock %}
        <div class="container">
            <div class="sidenav">
                <div class="tabs">
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                        <label for="tab-1" class="tab-label">Импорт данных</label>
                        <div class="tab-content">
                            <div class="border_file">
                              <label style="color: white;">Загрузить из файла</label>
                              <input type="file" />
                            </div>
                            <div class="border_url">
                              <label style="color: white;">Загрузить файл по ссылке</label>
                              <input type="url" />
                            </div>

                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                        <label for="tab-2" class="tab-label">Генерация</label>
                        <div class="tab-content">Типа генерации данных</div>
                    </div>
                </div>
              </div>
              <div class="sidenavTwo">
                <div class="header_sidenav_harac">
                    <label class="text_header_sidenav_harac">Отображение характеристик данных</label>
                </div>
              </div>

              <div class="main">
                <p>Введите название графа</p>
                <input class="input_name_graph" placeholder="Имя графа" type="text" />

                <div class="panel_graph">
                    <select>
                        <option>Поиск метрик</option>
                        <option>Центральность по степени</option>
                        <option>Центральность по близости</option>
                        <option>Смежные группы</option>
                    </select>

                    <div>
                        <button id="btn_add_edge" class="btn_add">Добавить отношение</button>

                        <div id="modalEdge" class="modal_edge">
                            <div class="modal-content-edge">
                              <div class="modal-header-edge">
                                <span class="close-edge">&times;</span>
                                <h2>Добавить отношение</h2>
                              </div>
                              <div class="modal-body-edge">
                                <p>Укажите индексы вершин, которые хотите соединить </p>
                                <input type="text" placeholder="Первая вершина" />
                                <input type="text" placeholder="Вторая вершина" />
                                <select>
                                    <option>Тип связи</option>
                                    <option>Братья</option>
                                    <option>Друзья</option>
                                    <option>Влюбленные</option>
                                </select>
                                <button>Создать</button>
                              </div>
                            </div>
                        </div>
                        <script lang="JavaScript">
                            var modal_edge = document.getElementById('modalEdge');
                            var btn_add_edge = document.getElementById("btn_add_edge");
                            var span_edge = document.getElementsByClassName("close-edge")[0];

                            btn_add_edge.onclick = function() {
                                modal_edge.style.display = "block";
                            }

                            span_edge.onclick = function() {
                                modal_edge.style.display = "none";
                            }

                            window.onclick = function(event) {
                                if (event.target == modal_edge) {
                                    modal_edge.style.display = "none";
                                }
                            }
                        </script>

                        <button id="myBtn" class="btn_add">Добавить вершину</button>

                        <div id="myModal" class="modal">
                            <div class="modal-content">
                              <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>Добавить вершину</h2>
                              </div>
                              <div class="modal-body">
                                <p>Укажите атрибуты вершины:</p>
                                <input type="text" placeholder="Имя" />
                                <input type="text" placeholder="Фамилия" />
                                <input type="text" placeholder="Отчество" />
                              </div>
                              <button>Добавить</button>
                            </div>
                        </div>
                        <script lang="JavaScript">
                            var modal = document.getElementById('myModal');
                            var btn = document.getElementById("myBtn");
                            var span = document.getElementsByClassName("close")[0];

                            btn.onclick = function() {
                                modal.style.display = "block";
                            }

                            span.onclick = function() {
                                modal.style.display = "none";
                            }

                            window.onclick = function(event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            }
                        </script>

                    </div>
                </div>

                <textarea name="тип тут сам граф будет" id="" cols="160" rows="20"></textarea>

                <div class="info_graph">
                    <p style="margin-left: 10px;">Тип: Вершина</p>
                    <div class="btn_nav_all">
                        <button class="btn_nav">Удалить</button>
                        <button class="btn_nav">Дублировать</button>
                        <button class="btn_nav">Редактировать</button>
                        <button class="btn_nav">Соединить</button>
                    </div>

                </div>
              </div>
        </div>

    </body>
</html>
